@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Filter */

.checkbox{
  /* margin: 35px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 10px;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 3px;
  word-spacing: 6px;
}
.checkbox-filter > label{
  float: left;
}
.container-check {
  display: block;
  position: relative;
  /* text-align: center; */
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Filter */
.form-container {
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.form-container #filterSelect {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .2rem;
}

.form-container #priceSelect {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .2rem;
}
.form-container .filters{
  text-transform: uppercase;
  letter-spacing: .5rem;
}

/* Main contaainers */
#container > div {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 23px;
  padding: 32px 70px;
}

.product {
  /* border: 1px solid #aaa; */
  background-color: #fdfdfdd2;
  box-shadow: 1px 1px 3px rgba(133, 129, 129, 0.74);
  cursor: pointer;
  margin-bottom: 15px;
}

div .product-img{
  width: auto;
  height: 320px;
}
.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .3rem;
  font-size: 1rem;
  font-family: 'Caveat';
}
p {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Caveat';
  /* letter-spacing: .1rem; */
}
.product > button{
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  background-color: #a39c9cc5;
  border: none;
  color: #FFFFFF;
  /* text-align: center; */
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
}